.vid {
  display: inline-block;
  text-align: center;
  width: 300px;
  vertical-align: top;
  padding: 20px;
}

.vid a:hover,
.vid a:focus,
.js-srch input:focus,
.js-srch button:focus {
  outline: 2px solid red;
}
